	.onoffswitch {
		position: relative;
		width: 116px;
		-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	}
	.onoffswitch-checkbox {
		display: none;
	}
	.onoffswitch-label {
		display: block; overflow: hidden; cursor: pointer;
		border: 2px solid #FFFFFF; border-radius: 50px;
	}
	.onoffswitch-inner {
		display: block; width: 200%; margin-left: -100%;
		/* transition: margin 0.3s ease-in 0s; */
	}
	.onoffswitch-inner:before, .onoffswitch-inner:after {
		display: block; float: left; width: 50%; height: 41px; padding: 0; line-height: 41px;
		font-size: 25px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
		box-sizing: border-box;
	}
	.onoffswitch-inner:before {
		content: "ON";
		padding-left: 14px;
		background-color: #EEEEEE; color: #4D9461;
	}
	.onoffswitch-inner:after {
		content: "OFF";
		padding-right: 14px;
		background-color: #EEEEEE; color: #E84141;
		text-align: right;
	}
	.onoffswitch-switch {
		display: block; width: 38px; margin: 1.5px;
		background: #E84141;
		position: absolute; top: 0; bottom: 0;
		right: 71px;
		border: 2px solid #FFFFFF;
		border-radius: 50px;
		/* transition: all 0.3s ease-in 0s; */
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
		margin-left: 0;
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
		right: 0px; 
		background-color: #4D9461; 
	}
	div.description{
		width:300px;
		height: 25px;
		text-align: left;
		position:relative;
		text-rendering: optimizeLegibility;
		display: inline-block;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		border: none;
		color: rgba(48,48,48,1);
		text-transform: normal;
		-o-text-overflow: clip;
		text-overflow: clip;
		white-space: pre;
		text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
		font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	}
	div.buttoncontainer{
		width: 116px;
		height: 41px;
		position:relative;
		padding-left: 20px;
	}
	div.box{
		width: 300px;
		height: 70px;
		position: relative;
		padding-left: 20px;
	}
	div.spacer{
		width: 300px;
		height: 40px;
		position: relative;
	}
	
	h1.main{
		width:300px;
		text-align: center;
		color: darkblue;
		height: 40px;
		position:relative;
	}
	
	.inset-text-effect {
		text-align: center;
		text-rendering: optimizeLegibility;
		display: inline-block;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		border: none;
		color: rgba(48,48,48,1);
		text-transform: normal;
		-o-text-overflow: clip;
		text-overflow: clip;
		white-space: pre;
		text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
		font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	}
	body{
		background-color: #99ccff;
	}
